<div class="container justify-content-center">
  <div class='card'
       *ngIf='employee'>
    <div class='card-header text-light'>
      {{ pageTitle + ': ' + employee.firstName }}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='row'>
            <div class='col-4'>Firstname:</div>
            <div class='col-8'>{{ employee.firstName }}</div>
          </div>
          <div class='row'>
            <div class='col-4'>Lastname:</div>
            <div class='col-8'>{{ employee.lastName }}</div>
          </div>
          <div class='row'>
            <div class='col-4'>Username:</div>
            <div class='col-8'>{{ employee.username }}</div>
          </div>
          <div class='row'>
            <div class='col-4'>Password:</div>
            <div class='col-8'>{{ employee.password }}</div>
          </div>
          <div class='row'>
            <div class='col-4'>Email:</div>
            <div class='col-8'>{{ employee.email }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class='card-footer'>
      <button class='btn btn-outline-secondary mr-2 mr-md-3 mr-lg-4 mr-kf-5'
              [routerLink]="['/employee']"
              style='width:80px'>
        <i class='fa fa-chevron-left'></i> Cancel
      </button>
      <button class='btn btn-outline-primary mr-2 mr-md-3 mr-lg-4 mr-kf-5'
              (click)="editEmployee()"
              type="button"
              style='width:80px'>
        Edit
      </button>
      <button class="btn btn-outline-warning"
              style="width:80px"
              type="button"
              title="Delete this Employee"
              (click)="deleteEmployee()">
        Delete
      </button>
    </div>
  </div>
</div>

