<div class="card">
  <div class="card-header text-light">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
        <tr>
          <th>#</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Username</th>
          <th>Email</th>
          <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.username }}</td>
          <td>{{ employee.email }}</td>
        <!--  <td>
            <a class="cursor" (click)="gotoEmployeeDetail(employee.id)">Edit</a>
          </td>-->
          <td>
            <a [routerLink]="['/employee', employee.id]"
               class="btn btn-outline-dark btn-sm">
              Detail
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    </div>
  <div class="card-footer">
    <button type="submit"
            class="btn btn-outline-secondary mr-2 mr-md-3 mr-lg-4 mr-kf-5"
            style='width:80px'
            [routerLink]="['/home']">
      Cancel
    </button>
    <button type="submit"
            style='width:80px'
            class="btn btn-outline-success"
            (click)="addEmployee()">
      Add
    </button>
  </div>
</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
